.memo_list_content {
  width: 450px;
  height: 100px;
  display: inline-block;
  justify-content: flex-start;
  margin: 10px auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #dadce0;
  margin-right: 5px;
  margin-left: 5px;
}
.list_top {
  weight: 450px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 500px;
  padding-top: 15px;
  padding-left: 15px;
}
.list_top_calumn_title {
  width: 400px;
  height: 40px;
}
.list_top_calumn_delete {
  width: 50px;
  height: 40px;
}

.list_top i {
  font-size: 20px;
  color: #6f6f6f;
  position: absolute;
}

.list_bottom {
  width: 450px;
  height: 60px;
  text-align: center;
  padding-top: 30px;
}
.memo_list_content:hover {
  transition: border-color 0.2s linear;
  box-shadow: 0px 3px 10px rgba(0.2, 0.2, 0.2, 0.2);
}
.list_top i:hover {
  font-size: 25px;
}
