.memo_memo_main {
  width: 700px;
  height: 1000px;
  display: flex;
  justify-content: flex-start;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #dadce0;
}
.memo_wri input {
  height: 30px;
  width: 650px;
  margin: 7px 5px;
  box-sizing: border-box;
  border: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.memo_memo_main :active {
  transition: border-color 0.2s linear;
  box-shadow: 0px 3px 10px rgba(0.2, 0.2, 0.2, 0.2);
}
.memo_memo_main :visited {
  transition: border-color 0.2s linear;
  box-shadow: 0px 3px 10px rgba(0.2, 0.2, 0.2, 0.2);
}
