.memo_list .search_bar i {
  font-size: 25px;
  color: #767676;
  position: absolute;
}
.search_bar {
  width: 70%;
  height: 70%;
  margin: 40px auto;
}
.search_bar input {
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  border: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: left;
  transition: border-color 0.2s linear;
  justify-content: center;
}
