.memo_list .search_bar i {
  font-size: 25px;
  color: #767676;
}
#search_icon {
  position: inherit;
  margin-top: 10px;
}
#new_memo_icon {
  position: inherit;
  margin-top: 10px;
}

.search_bar {
  width: 600px;
  height: 45px;
  margin: 40px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
.search_bar input {
  width: 600px;
  height: 45px;
  padding: 5px 7px;
  box-sizing: border-box;
  border: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: left;
  transition: border-color 0.2s linear;
}
