.setting_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.setting_list_content {
    width: 450px;
    height: 200px;
    display: inline-block;
    justify-content: flex-start;
    margin: 10px auto;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #dadce0;
    margin-right: 10px;
    margin-left: 10px;
  }

  .setting_list_content .setting_list_top {
    weight: 450px;
    height: 80px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
font-size: 20px;
font-weight: 400;  }

  .setting_list_bottom {
    width: 450px;
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
  }

  